@import "../../assets/styles/variables";
.main{
  display: flex;
  height: 90vh;
  & > * {
    width: 50%;
  }
  .left-side{
    background-color: rosybrown;
    font-size: 20px;
    align-items: center;
    .info{
      background-color: darkgrey;
      padding: 20px;
      .title{
        font-size: 20px;
        font-weight: bold;
      }
    }
    ul{
      padding: 20px;
      margin-top: 10%;
      list-style: none;
      background-color: crimson;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      li{
        background-color: deepskyblue;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        &:hover{
          background-color: lightblue;
        }
      }
    }
  }
  .right-side{
    background-color: wheat;
    .chart{
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      width: 300px;
      height: 250px;
      background-color: lightgrey;
      text-align: center;
      align-items: center;
    }
    .slider-wrapper{
      display: flex;
      .slider {
        margin: 50px auto 50px;
        appearance: none;
        width: 50%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;
        &::-webkit-slider-thumb{
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: #4CAF50;
          cursor: pointer;
        }
        &::-moz-range-thumb{
          width: 25px;
          height: 25px;
          background: #4CAF50;
          cursor: pointer;
        }
      }
    }
  }
  @media only screen and (max-width: $min-screen) {
    .left-side{
      ul{
        grid-template-columns: 1fr;
      }
    }
  }
}